    <nav class="menu_left">
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Menu</li>
            <li>Reservation</li>
        </ul>
    </nav>
    <div>
        <img src="./img/coffee/Logo.png" alt="">
    </div>
    <nav class="menu_right">
        <ul>
            <li>Pages</li>
            <li>Shop</li>
            <li>Contact</li>
            <li>
                <img src="./img/coffee/search.png" alt="">
            </li>
            <li>
                <img src="./img/coffee/shopping-bag.png" alt="">
            </li>
        </ul>
    </nav>