.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    border: 1px solid red;
}

.menu-item__img {
    max-height: 50px;
    max-width: 50px;
    padding-bottom: 5px;
}

.menu-item__caption {
    font-size: 17px;
    color: lightgrey;
}