<footer>
    <div class="container">
      <ul class="footer-list">
        <li>
          <a href="https://www.facebook.com/" target="_blank">
            <span class="visible-xs">
            facebook
            </span>
            <i class="fab fa-facebook-square"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/" target="_blank">
            <span class="visible-xs">twitter</span>
            <i class="fab fa-twitter-square"></i>
          </a>
        </li>
        <li>
          <a href="https://www.pinterest.com/" target="_blank">
            <span class="visible-xs">pinterest</span>
            <i class="fab fa-pinterest-square"></i>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/" target="_blank">
            <span class="visible-xs">instagram</span>
            <i class="fab fa-instagram-square"></i>
          </a>
        </li>
     </ul>
   </div>
</footer>