<div class="header">Last News </div>
            <ul>
              <li>Real Madrid players to gaffer: up and at 'em!</li>
              <li>Swedes indebted to talismanic Ibrahimovic marca.com</li>
              <li>2016 European Championship to go ahead in France</li>
              <li>Ancelotti: "Premier League return is my no. 1 choice"</li>
              <li>Walters double secures Euro 2016 spot for Ireland</li>
              <li>"They intended to set off an explosive inside the stadium" - eyewitness</li>
              <li>Raúl bids goodbye in style</li>
              <li>Five reasons Belgium vs. Spain was called off</li>
              <li>Niggles won't keep Benzema out of 'Clásico'</li>
              <li>Abdeslam suspected to have been near King Baudouin Stadium</li>
            </ul>
            <div class="header">Newsfeed </div>
            <div class="newsfeed-item">
              <div class="newsfeed-item-img">
                <img src="./img/Layer 165.png" alt="">
              </div>
              <div class="newsfeed-item-txt">
                Zlatan Ibrahimovic on target as Sweden qualify with draw in Denmark
              </div>
            </div>
            <ul>
              <li>Alvaro Morata insists Juventus are “still hungry” and targets victory over Milan on Saturday.</li>
              <li>Ecuador stay perfect as Argentina, Brazil win</li>
              <li>Sweden, Ukraine complete Euro line-up fifa.com</li>
              <li>Aubameyang penalty gives Gabon World Cup joy</li>
            </ul>