<header class="page-header">
    <div class="container">
      <div class="header_items">
        <div class="logo">
          <div class="logo_img">
          </div>
          <div class="logo_txt">Mozart</div>
        </div>
        <div class="menu">
          <nav>
            <ul class="menu-list">
                <li>
                  <div class="sprite bg-about"></div>
                  <p>наша история</p>
                </li>
                <li>
                  <div class="sprite bg-blog"></div>
                  <p>блог</p>
                </li>
                <li>
                  <div class="sprite bg-contact"></div>
                  <p>контакты</p>
                </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>