<header class="page-header">
    <div class="container">
      <div class="header_items">
        <div class="logo">
          <div class="logo_img">
            <i class="fas fa-paw fa-4x"></i>
          </div>
          <div class="logo_txt">Mozart</div>
        </div>
        <div class="menu">
          <nav>
            <ul class="menu-list">
                <li>
                  <i class="fas fa-info fa-3x"></i>
                  <p>история</p>
                </li>
                <li>
                  <i class="fas fa-globe fa-3x"></i>
                  <p>блог</p>
                </li>
                <li>
                  <i class="fas fa-envelope fa-3x"></i>
                  <p>контакты</p>
                </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>