<section>
    <header class="main-header">Meet the team</header>
    <div class="three-columns">
      <div class="column-three-item">
        <div class="header-column">Hoof <span>- Lead Design</span>
        </div>
        <div class="img-column">
          <img src="./img/horse.png" alt="">
        </div>
        <div class="text-column">Hoof is our most talanted designer.  However he`s not the talkative type and I would advise not getting on the wrong side of him.</div>
      </div>
      <div class="column-three-item">
        <div class="header-column">Nibs<span> - CEO/Director</span>
        </div>
        <div class="img-column">
          <img src="./img/rabbit.png" alt="">
        </div>
        <div class="text-column">Nibs is our go to woman. She’s the ceo/director of orange rabbit and runs fast when she has too.
        </div>
      </div>
      <div class="column-three-item">
        <div class="header-column">Squawk<span> - Developer</span>
        </div>
        <div class="img-column">
          <img src="./img/squawk.png" alt="">
        </div>
        <div class="text-column">Squawk is no social bunny. But when it comes to programming he stands out from the crowd.</div>
      </div>            
  </section>