<div class="video">
    <div class="header-video">ВИДЕО</div>
    <div class="video-item">
      <div class="video-img">
        <img src="./img/Layer 147.png" alt="">
      </div>
      <div class="video-txt">
        Фильм дня: Гитлер капут!
      </div>
    </div>
    <div class="video-item">
      <div class="video-img">
        <img src="./img/Layer 148.png" alt="">
      </div>
      <div class="video-txt">
        Ксения Собчак беременна
      </div>
    </div>
    <div class="video-item">
      <div class="video-img">
        <img src="./img/Layer 149.png" alt="">
      </div>
      <div class="video-txt">
        Группа парней избила влюбленную пару бейсбольной битой
      </div>
    </div>
    <div class="video-item">
      <div class="video-img">
        <img src="./img/Layer 150.png" alt="">
      </div>
      <div class="video-txt">
        Небесные ласточки: двухсерийная музыкальная комедия
      </div>
    </div>
    <div class="video-item">
      <div class="video-img">
        <img src="./img/Layer 151.png" alt="">
      </div>
      <div class="video-txt">
        На дополнительном кастинге "Хочу в ВИА Гру" девушек просили
      </div>
    </div>
    <div class="more-video">Больше видео →</div>
</div>
<div class="header-aside">Интересные статьи</div>
<div class="stories-item">
    <div class="stories">
        <div class="stories-img">
        <img src="./img/Layer 103.png" alt="">
        </div>
        <div class="stories-txt">
        Испанский политик полностью оделась для глянца
        </div>
    </div>
    <div class="stories">
        <div class="stories-img">
        <img src="./img/Layer 104.png" alt="">
        </div>
        <div class="stories-txt">
        Анджелина Джоли сильно похудела
        </div>
    </div>
    <div class="stories">
        <div class="stories-img">
        <img src="./img/Layer 105.png" alt="">
        </div>
        <div class="stories-txt">
        Исполнить мечту и умереть: История 14-летней девочки...
        </div>
    </div>
    <div class="stories">
        <div class="stories-img">
        <img src="./img/Layer 106.png" alt="">
        </div>
        <div class="stories-txt">
        Ирина Билык сказала, что думает о повзрослевшей Алине...
        </div>
    </div>
    <div class="stories">
        <div class="stories-img">
        <img src="./img/Layer 107.png" alt="">
        </div>
        <div class="stories-txt">
        7 "смертных грехов": чего нельзя делать в отношениях
        </div>
    </div>
</div>
