<div class="news-content-item">
    <div class="news-content-img">
    <img src="./img/Layer 166.png" alt="">
    </div>
    <div class="news-content-txt">
    Here is how Leage Champions trophy looks like
    </div>
</div>
<div class="news-content-item">
    <div class="news-content-img">
    <img src="./img/Layer 167.png" alt="">
    </div>
    <div class="news-content-txt">
    Casillas got some piece of paper
    </div>
</div>
<div class="news-content-item">
    <div class="news-content-img">
    <img src="./img/Layer 90.png" alt="">
    </div>
    <div class="news-content-txt">
    Bayern Munich vs Barcelona. Fangirls :)
    </div>
</div>
