<ul class="main-menu">
    <li>Hot themes </li>
    <li>EURO-2016 Playoffs</li>
    <li>El'Classico</li>
  </ul>
  <div class="hot-theme">
    <div class="hot-theme-img">
      <img src="./img/main-theme-img.png" alt="">
    </div>
    <div class="hot-theme-txt">
      <div class="hot-theme-txt1">Jurgen Klopp makes a sexy Liverpool</div>
      <div class="hot-theme-txt2">Liverpool outcast Jose Enrique set to be handed lifeline by Jurgen Klopp</div>
      <div class="hot-theme-txt3">7/20</div>
    </div>
  </div>
  <div class="main-news">
    <div class="header">Main News
    </div>
    <div class="main-new">
      <div class="main-news-item">
        <div class="main-new-img">
          <img src="./img/Layer 161.png" alt="">
        </div>
        <div class="main-new-txt">
          The FIFA Ballon d'Or is an annual association football award given by FIFA
        </div>
      </div>
      <div class="main-news-item">
        <div class="main-new-img">
          <img src="./img/Layer 162.png" alt="">
        </div>
        <div class="main-new-txt">
          Messi got some balloons
        </div>
      </div>
      <div class="main-news-item">
        <div class="main-new-img">
          <img src="./img/Layer 163.png" alt="">
        </div>
        <div class="main-new-txt">
          CR7 also, but not so much
        </div>
      </div>
      <div class="main-news-item">
        <div class="main-new-img">
          <img src="./img/Layer 164.png" alt="">
        </div>
        <div class="main-new-txt">
          Ribery got vase!
        </div>
      </div>
    </div>
  </div>