<div class="section">
    <footer>
        <div>
            <img src="./img/coffee/Logo.png" alt="">
        </div>
        <nav class="menu_left">
            <ul>
                <li>Home</li>
                <li>Reservation</li>
                <li>Menu</li>
                <li>About</li>
                <li>Pages</li>
                <li>Shop</li>
                <li>Blogs</li>
            </ul>
        </nav>
        <div class="search-input">
            <input type="text" value placeholder="Enter your email">
        </div>
    </footer>
</div>