<div class="section">
    <div class="history">
        <div class="column1">
            <img src="./img/coffee/coffee4.jpg" alt="">
            <img src="./img/coffee/coffee5.jpg" alt="">
        </div>
        <div>
            <img src="./img/coffee/coffee6.jpg" alt="">
        </div>
        <div class="column3">
            <p class="txt">Our history</p>
            <p class="txt2">Create a new story with us</p>
            <div class="txt3">mauris rhoncus in imperdiet placerat. vestibu emismd nisl suscirpit ligula volutpat, a feyguat urn maxmaus. cars massa nibhtincidunt. donec et nibh maximus, est eu, mattis nuce. preasent ut quam quis quam venen
                atis fringilla. morbi vastibulum id tells mmodo mattis. aliauam erat volutpal.
            </div>
        </div>
    </div>
</div>