<p class=popular>Menu</p>
<p class="popular_coffee">Coffee popular menu</p>
<div class="main_menu">
    <div class="menu">
        <div class="menu_item">
            <img src="./img/coffee/Bg.jpg" alt="">
            <p>Americano rosted gred</p>
            <p>$12:00</p>
        </div>
        <div class="menu_item">
            <img src="./img/coffee/Bg.jpg" alt="">
            <p>Americano rosted gred</p>
            <p>$12:00</p>
        </div>
        <div class="menu_item">
            <img src="./img/coffee/Bg.jpg" alt="">
            <p>Americano rosted gred</p>
            <p>$12:00</p>
        </div>
        <div class="menu_item">
            <img src="./img/coffee/Bg.jpg" alt="">
            <p>Americano rosted gred</p>
            <p>$12:00</p>
        </div>
    </div>
    <div class="menu">
        <div class="menu_item">
            <img src="./img/coffee/Bg.jpg" alt="">
            <p>Americano rosted gred</p>
            <p>$12:00</p>
        </div>
        <div class="menu_item">
            <img src="./img/coffee/Bg.jpg" alt="">
            <p>Americano rosted gred</p>
            <p>$12:00</p>
        </div>
        <div class="menu_item">
            <img src="./img/coffee/Bg.jpg" alt="">
            <p>Americano rosted gred</p>
            <p>$12:00</p>
        </div>
        <div class="menu_item">
            <img src="./img/coffee/Bg.jpg" alt="">
            <p>Americano rosted gred</p>
            <p>$12:00</p>
        </div>
    </div>
</div>
