<p class="chapter">Menu</p>
<p class="chapter_title">Coffee popular menu</p>
<div class="main_menu">
    <div class="menu">
        <div class="menu_item">
            <img src="./img/coffee/Bg.jpg" alt="">
            <p>Americano rosted gred</p>
            <span>$12:00</span>
        </div>
        <div class="menu_item">
            <img src="./img/coffee/Bg.jpg" alt="">
            <p>Americano rosted gred</p>
            <span>$12:00</span>
        </div>
        <div class="menu_item">
            <img src="./img/coffee/Bg.jpg" alt="">
            <p>Americano rosted gred</p>
            <span>$12:00</span>
        </div>
        <div class="menu_item">
            <img src="./img/coffee/Bg.jpg" alt="">
            <p>Americano rosted gred</p>
            <span>$12:00</span>
        </div>
    </div>
    <div class="menu">
        <div class="menu_item">
            <img src="./img/coffee/Bg.jpg" alt="">
            <p>Americano rosted gred</p>
            <span>$12:00</span>
        </div>
        <div class="menu_item">
            <img src="./img/coffee/Bg.jpg" alt="">
            <p>Americano rosted gred</p>
            <span>$12:00</span>
        </div>
        <div class="menu_item">
            <img src="./img/coffee/Bg.jpg" alt="">
            <p>Americano rosted gred</p>
            <span>$12:00</span>
        </div>
        <div class="menu_item">
            <img src="./img/coffee/Bg.jpg" alt="">
            <p>Americano rosted gred</p>
            <span>$12:00</span>
        </div>
    </div>
</div>
