<div class="section">
    <p class="chapter">Testimonial</p>
    <p class="chapter_title">Our latest news</p>
    <div class="process">
        <div class="three_column_news">
            <img src="./img/coffee/coffee8.jpg" alt="">
            <div class="news_txt">
                <div class="news_by">
                    <p><span>By:</span> rasaline</p>
                    <p>23.01.2021</p>
                </div>
                <p class="cockt">Ideal cocktails from barmen....</p>
                <div class=more >Read More
                    <i class="fas fa-arrow-right"></i>
                </div>
            </div>
        </div>
        <div class="three_column_news">
            <img src="./img/coffee/coffee9.jpg" alt="">
            <div class="news_txt">
                <div class="news_by">
                    <p><span>By:</span> rasaline</p>
                    <p>23.01.2021</p>
                </div>
                <p class="cockt">Ideal cocktails from barmen....</p>
                <div class=more >Read More
                    <i class="fas fa-arrow-right"></i>
                </div>
            </div>
        </div>
        <div class="three_column_news">
            <img src="./img/coffee/coffee10.jpg" alt="">
            <div class="news_txt">
                <div class="news_by">
                    <p><span>By:</span> rasaline</p>
                    <p>23.01.2021</p>
                </div>
                <p class="cockt">Ideal cocktails from barmen....</p>
                <div class=more >Read More
                    <i class="fas fa-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>