<div class="product">
    <p class=chapter>Popular Product</p>
    <p class="chapter_title">Coffee popular Product</p>
    <div class="process">
        <div class="three_column_product">
            <img src="./img/coffee/coffee7.jpg" alt="">
            <p class="txt_cof">COFFEE <!-- @@include('./_star.html') -->
            </p>
            <p class="type_coffee">brazil coffee gred</p>
            <p class="price">Price - <span>$320.00</span>/ $358</p>
        </div>
        <div class="three_column_product">
            <img src="./img/coffee/coffee7.jpg" alt="">
            <p class="txt_cof">COFFEE </p>
            <p class="type_coffee">brazil coffee gred</p>
            <p class="price">Price - <span>$320.00</span>/ $358</p>
        </div>
        <div class="three_column_product">
            <img src="./img/coffee/coffee7.jpg" alt="">
            <p class="txt_cof">COFFEE </p>
            <p class="type_coffee">brazil coffee gred</p>
            <p class="price">Price - <span>$320.00</span>/ $358</p>
        </div>
    </div>
    <div class="btn_product">
        <button class="test-button">View all product</button>
    </div>
</div>