<div class="process">
    <div class="three_column">
        <div class="three_column_txt">01 Best Coffee Flavour</div>
        <div class="three_column_img">
            <img src="./img/coffee/coffee1.jpg" alt="">
        </div>
    </div>
    <div class="three_column">
        <div class="three_column_txt">02 Place to get lost</div>
        <div class="three_column_img">
            <img src="./img/coffee/coffee2.jpg" alt="">
        </div>
    </div>
    <div class="three_column">
        <div class="three_column_txt">03 Proper roesting</div>
        <div class="three_column_img">
            <img src="./img/coffee/coffee3.jpg" alt="">
        </div>
    </div>
</div>