<div class="section">
    <div class="process">
        <div class="three_column">
            <div class="three_column_txt">
                <span>01</span> Best Coffee Flavour</div>
            <div class="three_column_img">
                <img src="./img/coffee/coffee1.jpg" alt="">
            </div>
        </div>
        <div class="three_column">
            <div class="three_column_txt">
                <span>02</span> Place to get lost</div>
            <div class="three_column_img">
                <img src="./img/coffee/coffee2.jpg" alt="">
            </div>
        </div>
        <div class="three_column">
            <div class="three_column_txt">
                <span>03</span> Proper roesting</div>
            <div class="three_column_img">
                <img src="./img/coffee/coffee3.jpg" alt="">
            </div>
        </div>
    </div>
</div>