<p class=chapter>Testimonial</p>
<p class="chapter_title">Says our customers</p>
<div class="slider">
    <div class="slider__item">
        <div class="gh">
            <div class="test_with_img">
                <img src="./img/coffee/man.jpg" alt="">
                <div class="txt3">
                    Education WP is a special build for effective education & Learning Management System site. Education WP is the next generation & one of the best education WordPress themes which all the strength of eLearning WP..
                </div>
            </div>
            <div class="test_with_star">
                <p>John Smith</p>
                <div class="with_star">
                    <p>Product Designer</p>
                    <div class="test_star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider__item">
        <div class="gh">
            <div class="test_with_img">
                <img src="./img/coffee/girl.jpg" alt="">
                <div class="txt3">
                    Education WP is a special build for effective education & Learning Management System site. Education WP is the next generation & one of the best education WordPress themes which all the strength of eLearning WP..
                </div>
            </div>
            <div class="test_with_star">
                <p>Brett Lee</p>
                <div class="with_star">
                    <p>User Experience Designer</p>
                    <div class="test_star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider__item">
        <div class="gh">
            <div class="test_with_img">
                <img src="./img/coffee/man.jpg" alt="">
                <div class="txt3">
                    Education WP is a special build for effective education & Learning Management System site. Education WP is the next generation & one of the best education WordPress themes which all the strength of eLearning WP..
                </div>
            </div>
            <div class="test_with_star">
                <p>John Smith</p>
                <div class="with_star">
                    <p>Product Designer</p>
                    <div class="test_star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider__item">
        <div class="gh">
            <div class="test_with_img">
                <img src="./img/coffee/girl.jpg" alt="">
                <div class="txt3">
                    Education WP is a special build for effective education & Learning Management System site. Education WP is the next generation & one of the best education WordPress themes which all the strength of eLearning WP..
                </div>
            </div>
            <div class="test_with_star">
                <p>Brett Lee</p>
                <div class="with_star">
                    <p>User Experience Designer</p>
                    <div class="test_star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="with_btn">
    <div> </div>
    <div class="btn"></div>
</div>
