<div class="with_bg">
    <div class="container">
        <div class="section">
            <div class="slogan">
                <div class="slogan1">Enjoy Your Morning Coffee.</div>
                <div class="slogan2">The coofee is brewed by fist roasting the green coffee beans over hot coals in brazier. given to Opportunity</div>
            </div>
            <div class="button">
                <button class="test-button">TEST COFFEE</button>
                <div class="video">
                    <div class="video_img">
                        <img src="./img/coffee/vector.svg" alt="">  
                    </div>
                    <p>PLAY VIDEO</p>
                </div>
            </div>
        </div>
    </div>
</div>