.container {
  margin: 0 300px;
  width: 1320px;
}

.header {
  background: #1C1814;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  height: 125px;
  width: 1920px;
  left: 0px;
  top: 0px;
}

ul {
  display: flex;
  flex-direction: row ;
}

li {
  list-style-type: none;
  padding-right: 48px;
}

/*p {
margin: 0;
}

body {
  font-family: 'Arsenal';
  font-weight: bold;
  background-color: black;
  color: grey;
}

* {
  box-sizing: border-box;
}

.with-container {
  @media screen and (min-width: 1200px) {
  display: flex;
}
} */
 