@font-face {
  font-family: 'Arsenal';
  src: url('/fonts/Arsenal.ttf');
}

@font-face {
  font-family: 'Vivaldi';
  src: url('/fonts/Vivaldi.ttf');
}

body {
  font-family: 'Arsenal';
  font-weight: bold;
  background-color: black;
  color: grey;
}

* {
  box-sizing: border-box;
}
  
.page-container {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}
  
.container {
  max-width: 1200px;
  margin: 0px auto;
}
   
.header_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  float: left;
  display: flex;
  flex-direction: row;
}

.logo_txt {
  font-size: 64px;
  color: orange;
  margin-left: 10px;
  font-family: 'Vivaldi';
  letter-spacing: 0.08em;
}

.menu {
  float: right;
}

.menu-list {
  list-style-type: none;
  display: flex;
}

.menu-list li {
  text-align: center;
  padding: 0 25px;
}

.section-with-background {
  height: 400px;
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.slider img{
  height: 390px;
}

.section-with-background
.container {
  display: flex;
  align-items: center;
}  

.four-columns {
	display: flex;
  padding-top: 20px;
  padding-bottom: 60px;
}

.column-four-item {
  display: inline-block;
  width: 33%;
  box-sizing: border-box;
  position: relative;
}

.column-four-item img {
  max-height: 150px;
  max-width: 150px;
}

.txtimg {
  display: flex;
}

.txt {
  padding: 132px 0 0 5px;
  font-size: 18px;
}

.accordion_input {
  display: none;
}

.text-in-column {
  font-size: 18px;
  padding: 0px 20px 0;
  overflow: hidden;
  transition: max-height .5s ease;
  top: 100%;
  max-height: 0px;
}

.opener {
  width: 100%;
  display: flex;
  justify-content: right;
  font-style: italic;
  padding-right: 20px;
}

.opener:after {
  content: "read more ...";
  display: inline-block;
  color: orange;
}

.accordion_input:checked ~ .text-in-column {
  max-height: 140vh;
  background-color: orange;
  color: black;
}

.accordion_input:checked ~ .opener:after {
  content: "read less...";
  background-color: orange;
  color: black;
}

.main-header {
  color: orange;
  font-size: 30px;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

button {
  background-color: orange;
  color: white;
  font-size: 20px;
  font-weight: normal;
  margin: 0 20px 20px 0;
  border: 0;
  border-radius: 2rem;
  cursor: pointer;
  padding: 15px;
}

.submit-button {
  display: flex;
  justify-content: right;
  margin-right: 150px;
}

.submit:active {
  top: 1px;
  right: 1px;
  position: relative;
}

.field {
  padding: 20px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 150px;
}

.field .field-input {
  overflow: hidden;
}

.field-input input {
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: rgb(238, 238, 238);
  border: lightgrey 1px solid;

}

input {
  height: 40px;
  font-size: 16px;
}

.message {
  height: 90px;
}

.visible-xs {
  display: none;
}

.footer-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer-list li a {
  padding: 10px;
  color: orange;
}