body * {
  outline: 1px solid lightgrey;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  color: #333333;
}

.with-aside {
  display: flex;
}

.container {
  flex: 1 0 620px;
  max-width: 620px;
}

.aside {
  flex: 0 1 300px;
  padding: 23px 22px;
}

.main-menu {
  display: flex;
  justify-content: left;
  list-style: none;
  background-color: #d7d7d9;
  height: 30px;
  font-size: 30px;
  color: #333333;
  padding-left: 0;
  margin: 20px 0;
  align-items: center;
  font-weight: 600;
}

.main-menu li {
   padding: 10px 18px;
}

 .hot-theme {
   display: flex;
   background-color: #f7f9fa;
   border-bottom: 5px solid #c80000;
   margin-bottom: 30px;
   box-sizing: border-box;
}

.hot-theme-img {
  height: 250px;
}
.hot-theme-txt {
  padding: 10px 20px 0;
}

.hot-theme-txt1 {
  font-size: 30px;
  color: #c80000;
}

.hot-theme-txt2 {
  font-size: 14px;
  color: #333333;
  padding: 15px 0 41px 0;
}

.hot-theme-txt3 {
  display: flex;
  justify-content: right;
  font-size: 18px;
  color: #333333;
  padding-right: 40px;
}

.main-new {
  display: flex;
  width: 25%;
}

.header {
  font-size: 24px;
  overflow: hidden;
}

.header:after {
  content: "";
  display: inline-block;
  vertical-align: inherit;
  width: 100%;
  height: 2px;
  background-color: #333333;
  position: relative;
  margin-right: -100%;
}

.main-news-item {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  box-sizing: border-box;
  max-width: 158px;
  margin-bottom: 50px;
}

.main-news-item:first-child {
  padding-left: 0;
}

.main-news-item:last-child {
  padding-right: 0;
}

.with-aside2 {
  display: flex;
}

.container2 {
  width: 560px;
}

.with-aside2__news-content {
  flex: 1 0 180px;
  padding-left: 20px;
} 

.container2 .header {
  color: #3d76cc;
}

.container2 .header:after {
background-color: #c80000;
}

.container2 ul {
  padding-inline-start: 15px;
  margin: 0;
  padding-bottom: 15px;
}

.container2 ul li {
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: -0.1px;
}

.newsfeed-item {
  display: flex;
  padding-top: 8px;
}

.newsfeed-item-txt {
  font-weight: bold;
  align-items: center;
  display: flex;
}

.news-content-txt {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 15px;
}

.news-content-item {
  padding-top: 5px;
}

.video {
  display: flex;
  flex-direction: column;
}

.video-item {
  display: flex;
  padding-bottom: 5px;
}

.header-video {
  overflow: hidden;
  color: #6a0099;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  padding-bottom: 13px;
}

.header-video:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background-color: #333333;
  position: relative;
  margin-left: -100%;
}
.header-video:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background-color: #333333;
  position: relative;
  margin-right: -100%;
}

.video-txt {
  padding-left: 10px;
}