.sprite {
    background-image: url(../img/forrabbit.png);
}

.bg-glob {
    width: 512px; 
    height: 512px;
    background-position: -10px -656px;
}

.bg-home {
    width: 626px; 
    height: 555px;
    background-position: -656px -10px;
}

.bg-info {
    width: 626px; 
    height: 626px;
    background-position: -10px -10px;
}

.bg-mail {
    width: 512px; 
    height: 512px;
    background-position: -542px -656px;
}

.bg-pen {
    width: 512px; 
    height: 512px;
    background-position: -1302px -10px;
}