<section>
    <header class="main-header">Send us a message...</header>
        <div class="section-forma">
          <div class="field">
              <div class="field-name">Name:</div>
              <div class="field-input"><input type="text"></div>
          </div>
          <div class="field">
              <div class="field-name">Email:</div>
              <div class="field-input"><input type="text"></div>
          </div>
          <div class="field">
              <div class="field-name">Message:</div>
              <div class="field-input"><input type="text" class="message"></div>
          </div>
        </div>
        <div class="submit-button">
          <button class="submit">Submit</button>
        </div>
      </section>