<section>
    <header class="main-header">Свяжитесь с нами, мы с радостью ответим на ваши вопросы</header>
        <div class="section-forma">
          <div class="field">
            <div class="field-input"><input type="text" value placeholder="Имя"></div>
          </div>
          <div class="field">
            <div class="field-input"><input type="text" value placeholder="Ваш е-mail"></div>
          </div>
          <div class="field">
            <div class="field-input"><input type="text" class="message" value placeholder="Напишите пару строк"></div>
          </div>
        </div>
        <div class="submit-button">
          <button class="submit">Отправить</button>
        </div>
      </section>